$primary-font : 'Open Sans', sans-serif;
$poppins-font : 'Poppins', sans-serif;


// Colors

$primary-color : #0b60a9;
$secondary-color : #888;
$color-black: black;
$bg-color: #f2f7fb;
$white-color:white;
$background-section:#f6f8f9;


// Font sizes
$title-size: 32px;
$text-size: 16px;